.App {	
	display: flex;
	flex-direction: column;
	min-height: 100vh;		
	padding: 0px 80px;
	color: white;
	background-color: #282c34;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.header {
	padding: 20px 0;
	border-bottom: 1px solid #bdc6cd;
}

.app-logo {
	animation: app-logo-spin infinite 20s linear;
	pointer-events: none;	
	height: 60px;
	width: 60px;
}

.nav-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-items {
	display: flex;
	justify-content: end;	
	padding: 0;
	list-style: none;
}

.nav-items li:not(:last-child) {
	margin-right: 20px;
}

.footer {
	margin-top: auto;
	padding: 20px 0;
}

